{
  "presets": ["es2015-native-modules", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
